@using autorepairProj.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model autorepairProj.ViewModels.PaymentViewModel;

@{
    ViewData["Title"] = "Удаление платежа";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить заданный платеж?</h3>
<div>
    <h4>Платеж</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateNumberCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateNumberCar)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MechanicFIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MechanicFIO)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PaymentId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку всех платежей</a>
    </form>
</div>
