@model autorepairProj.Models.Qualification

@{
    ViewData["Title"] = "Подробнее о должности";
}

<h1>Пдоробнее</h1>

<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QualificationId">Изменить</a> |
    <a asp-action="Index">Вернуться к списку должностей</a>
</div>
