@using autorepairProj.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Qualification>
@{
    ViewData["Title"] = "Должности автомехаников";
}

<h1>Должности для механиков</h1>

<p>
    <a asp-action="Create">Создать новую должность</a>
</p>
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                Должность
            </th>
            <th>
                Зарплата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QualificationId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.QualificationId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.QualificationId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})