@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using autorepairProj.ViewModels
@model X.PagedList.IPagedList<MechanicViewModel>
@{
    ViewData["Title"] = "Механики";
}

<h1>Механики</h1>

<p>
    <a asp-action="Create">Создать нового механика</a>
</p>
@using (Html.BeginForm())
{
    <div style="display:flex;">
        <div style="margin-right: 15px;">
            <p>Введите должность: </p>
            <input type="text" name="searchQualificationName" value="@ViewBag.CurrentFilter1?.ToString()" />
        </div>
        <div>
            <p>Введите опыт работы:</p>
            <input type="text" name="searchExperience" value="@ViewBag.CurrentFilter2?.ToString()" />
        </div>
    </div>


    <p style="margin-top: 15px;">
        <input type="submit" value="Отправить" />
        <a class="alink-reset" asp-action="Index" asp-route-reset="1">
            Сбросить фильтрацию
        </a>
    </p>
}
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Отчество
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="@ViewBag.Experience">
                    Опыт работы
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.Qualification">
                    Должность
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualificationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MechanicId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.MechanicId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.MechanicId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter1=ViewBag.CurrentFilter1, currentFilter2=ViewBag.CurrentFilter2 }), new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }})
