@using autorepairProj.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using autorepairProj.ViewModels
@model X.PagedList.IPagedList<CarViewModel>

@{
    ViewData["Title"] = "Автомобили";
}

<h1>Автомобили</h1>

<p>
    <a asp-action="Create">Добавить новый автомобиль</a>
</p>
@using (Html.BeginForm())
{
    <div style="display:flex;">
        <div style="margin-right: 15px;">
            <p>Введите гос номер авто: </p>
            @Html.TextBox("searchStateNumber")
        </div>
        <div>
            <p>Введите ФИО владельца:</p>
            @Html.TextBox("searchOwnerFIO")
        </div>
    </div>
    <p style="margin-top: 15px;">
        <input type="submit" value="Отправить" />
    </p>
}
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                Бренд
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.Power">
                    Мощность(в л.с.)
                </a>                
            </th>
            <th>
                Цвет
            </th>
            <th>
                Гос.Номер
            </th>
            <th>

                <a asp-action="Index" asp-route-sortOrder="@ViewBag.Year">
                    Год авто
                </a>
            </th>
            <th>
                ВИН
            </th>
            <th>
                Номер двигателя
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateAdmission">
                    Дата поступления
                </a>
            </th>
            <th>
                ФИО Владельца
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerFIO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.CarId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})